name: Documentation

on:
  push:
    branches:
      - main

jobs:

  main:
    name: Publish Documentation
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.54.0
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Hugo
        run: |
          wget -O /tmp/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.deb
          sudo dpkg -i /tmp/hugo.deb

      - name: Build Documentation
        run: make docs-build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: docs/public
          force_orphan: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
